#*#
*.aux
*.backup
*.core
*.dSYM
*.dvi
*.gcda
*.gch
*.log
*.noopt
*.o
*.optimized
*.pch
*.unsafe
*.xcodeproj
*~
.DS_Store
.cproject
.deps
.gitcheckout
.goutputstream-*
.hg
.project
.svn
.vscode
a.out
core*
cmake-build-*
cscope.out
strace.out
tags
tags.*
typescript
vgcore*
linux-5.2.9
linux-5.2.9.tar.xz
